@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sbm0hq');
  src:  url('fonts/icomoon.eot?sbm0hq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sbm0hq') format('truetype'),
    url('fonts/icomoon.woff?sbm0hq') format('woff'),
    url('fonts/icomoon.svg?sbm0hq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-0:before {
  content: "\e60b";
}
.icon-qicheqianlian-:before {
  content: "\e618";
}
.icon-jiantoushang:before {
  content: "\e62d";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-location2:before {
  content: "\e948";
}
.icon-search:before {
  content: "\e986";
}

.icomoon.icon-location2{
 cursor: pointer;
  width:73px;
  height: 20px;
  font-size: 17px;
  line-height: 31px;
  color:red;
}

.icomoon.icon-jiantoushang{
     height: 100%;  
}
.icomoon.icon-camera{
  position: absolute;
  right: 112px;
  top:0;
  display: inline-block;
  font-size: 22px;
  line-height: 35px;
}
.icomoon.icon-camera:hover{
  color:#e92322;
  cursor: pointer;
}
.icomoon.icon-search{
  position: absolute;
  right: 7px;
  top:7px;
  font-size: 21px;
  height: 35px;
  width: 33px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  /* width: */
}

.icomoon.icon-qicheqianlian-{
  font-size: 22px;
  color: #e92322;
  height: 35px;
  line-height: 35px;
  cursor: pointer;
}
